<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoRosty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoRosty.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    @await RenderSectionAsync("Éstilos", required: false)
</head>
<body style="background-color: #ffd700;">

    <header>
        <nav class="navbar navbar-light bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#" style="font-size: 24px;"><i class="fas fa-drumstick-bite"></i> Rosty Pollos</a>
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <!-- Agrega íconos a los elementos del menú -->
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Index" style="color: #dc3545;"><i class="fas fa-home"></i> Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: #dc3545;"><i class="fas fa-utensils"></i> Menú</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #dc3545;">
                                    <i class="fas fa-list"></i> Categorías
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Bodegas" asp-action="ListadoBodegas" style="color: #dc3545;"><i class="fas fa-box"></i> Productos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Empleados" asp-action="ListadoEmpleados" style="color: #dc3545;"><i class="fas fa-users"></i> Empleados</a></li>
                                    <li><a class="dropdown-item" asp-controller="Gestiones" asp-action="ListadoGestiones" style="color: #dc3545;"><i class="fas fa-tasks"></i> Gestiones</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="RegistroDeVentas" asp-action="ListadoBodegas" style="color: #dc3545;"><i class="fas fa-cash-register"></i> Ventas</a></li>
                                </ul>
                            </li>
                            <!-- Agrega el enlace de Cerrar Sesión -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CerrarSesion" style="color: #dc3545;"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="background-color: #dc3545;">
        <div class="container">
            &copy; 2023 - ProyectoRosty -  <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #fff;">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
