@model ProyectoRosty.Models.Entidades.GestionDeGaseosas
@{
    ViewData["title"] = "CrearGestion";
    Layout = null;
}
<div class="col-md-12">
    <div class="card rounded" style="background-color: #adeef0;">
        <div class="card-header text-center rounded-top" style="background-color: #5fbac4;">
            <h5 class="font-italic text-uppercase" style="font-family: 'Segoe Script', cursive;"><i class="fa fa-plus-circle"></i> Agregar una nueva Gestion</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Crear">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row mb-3">
                    <label for="Nombre" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fa fa-tag"></i> Nombre</label>
                    <div class="col-sm-10">
                        <input asp-for="Nombre" class="form-control rounded" placeholder="Nombre" required />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="CantidadDisponible" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fa fa-shopping-cart"></i> Cantidad</label>
                    <div class="col-sm-10">
                        <input asp-for="CantidadDisponible" class="form-control rounded" placeholder="Cantidad" required />
                        <span asp-validation-for="CantidadDisponible" class="number"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="PrecioUnitario" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fa fa-dollar-sign"></i> Precio Unitario</label>
                    <div class="col-sm-10">
                        <input asp-for="PrecioUnitario" class="form-control rounded" placeholder="Precio Unitario" required />
                        <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="FechaIngreso" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fa fa-calendar"></i> Fecha de ingreso</label>
                    <div class="col-sm-10">
                        <input asp-for="FechaIngreso" class="form-control rounded" placeholder="Fecha de ingreso de la Gestion" required />
                        <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Proveedor" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fa fa-truck"></i> Nombre del Proveedor</label>
                    <div class="col-sm-10">
                        <input asp-for="Proveedor" class="form-control rounded" placeholder="Nombre del Proveedor" required />
                        <span asp-validation-for="Proveedor" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Descripcion" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fa fa-info-circle"></i> Descripcion</label>
                    <div class="col-sm-10">
                        <input asp-for="Descripcion" class="form-control rounded" placeholder="Descripcion de la Gestion" required />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer rounded-bottom" style="background-color: #0000;">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-outline-success btn-3d" style="margin-right: 80px;"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-lg btn-outline-danger btn-3d" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
