@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar Sesión - Asadero de Pollos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Agrega Font Awesome para los íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-MQZXc5V5qoyaa1XxFJeNn4g7Oi6VHR24T8e7tIyIA34S66t5pZZ9NT6Sy38Mk3x9i5sLV/JFUdRkseuU/mQkgQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Agrega SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .overlay {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249, 249, 249);
            opacity: .8;
        }

        .card {
            background-color: #ffd700;
            border: 1px solid #ffd700;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #ffeb3b;
            border-bottom: 1px solid #ffd700;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            color: #333;
            padding: 15px;
            border-radius: 15px 15px 0 0;
        }

        .card-body {
            padding: 20px;
        }

        .form-control {
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding-left: 40px;
        }

        .input-group-addon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            color: #ced4da;
        }

        .btn-primary {
            background-color: #dc3545;
            border: 1px solid #dc3545;
            border-radius: 5px;
        }

            .btn-primary:hover {
                background-color: #c82333;
                border: 1px solid #c82333;
            }

        .btn-link {
            color: #dc3545;
        }

            .btn-link:hover {
                color: #c82333;
            }
    </style>
</head>
<body>

    <div class="overlay" id="overlay"></div>

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-drumstick-bite"></i> ROSTY POLLOS
                    </div>
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="IniciarSesion" method="post" onsubmit="return onSubmit()" id="loginForm">
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control" type="text" placeholder="Correo" required name="correo" />
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" type="password" placeholder="Contraseña" required name="contraseña" />
                            </div>

                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="button" onclick="submitForm()"><i class="fa fa-sign-in"></i> Iniciar Sesión</button>
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }

                            ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")" class="btn-link">Regístrate</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingIndicator" style="display:none;" class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function onSubmit() {
            document.getElementById('overlay').style.display = 'block';
            setTimeout(submitForm, 10000);  // Retraso de 10 segundos (10000 milisegundos)
            return false;  // Evitar que el formulario se envíe inmediatamente
        }

        function submitForm() {
            document.getElementById('loadingIndicator').style.display = 'block';

            Swal.fire({
                title: "¡Bienvenido!",
                text: "¡Has iniciado sesión exitosamente! ¡Qué alegría tenerte aquí!",
                icon: "success"
            });

            document.getElementById('loginForm').submit();
        }

        $(window).on('load', function () {
            $(".overlay").fadeOut("slow");
        });
    </script>
</body>
</html>
