@{
    ViewData["Title"] = "Home Page";
    
}

<div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 100vh;">
    <h1 class="display-4 text-dark mb-4 font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">¡Bienvenido, @ViewData["nombreUsuario"]!</h1>
    <img src="@ViewData["fotoPerfil"]" alt="Foto de perfil" style="width: 300px; height: 300px; border-radius: 50%; margin-bottom: 20px;" />
</div>
