@model ProyectoRosty.Models.Entidades.Bodega
@{
    ViewData["title"] = "EditarBodegas";
    Layout = null;
}
<div class="col-md-12">
    <div class="card rounded" style="background-color: #9cffae;">
        <div class="card-header text-center rounded-top" style="background-color: #44c967;">
            <h5 class="font-italic text-uppercase" style="font-family: 'Segoe Script', cursive;"><i class="fas fa-edit"></i> Editar Producto</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdProducto" />

                <div class="form-group row mb-3">
                    <label for="Nombre" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fas fa-tag"></i> Nombre del Producto</label>
                    <div class="col-sm-10">
                        <input asp-for="Nombre" class="form-control rounded" placeholder="Nombre del Producto" required />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Cantidad" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fas fa-sort-numeric-up"></i> Cantidad</label>
                    <div class="col-sm-10">
                        <input asp-for="Cantidad" class="form-control rounded" placeholder="Cantidad" required />
                        <span asp-validation-for="Cantidad" class="number"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="PrecioUnitario" class="col-sm-2 col-form-label" style="color: #130000;"><i class="fas fa-dollar-sign"></i> Precio Unitario</label>
                    <div class="col-sm-10">
                        <input asp-for="PrecioUnitario" class="form-control rounded" placeholder="Precio Unitario" required />
                        <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="FechaIngreso" class="col-sm-2 col-form-label" style="color: #130000;"><i class="far fa-calendar-alt"></i> Fecha de Ingreso del Producto</label>
                    <div class="col-sm-10">
                        <input asp-for="FechaIngreso" class="form-control rounded" placeholder="Fecha de Ingreso del Producto" required />
                        <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer rounded-bottom" style="background-color: #0000;">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-outline-success btn-3d" style="margin-right: 80px;"><i class="fas fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-lg btn-outline-danger btn-3d" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
