@model ProyectoRosty.Models.Entidades.Empleados
@{
    ViewData["title"] = "CrearEmpleados";
    Layout = null;
}
<div class="col-md-12">
    <div class="card rounded" style="background-color: #FFEBE6;">
        <div class="card-header text-center rounded-top" style="background-color: #FFD699;">
            <h5 class="font-italic text-uppercase" style="font-family: 'Segoe Script', cursive;"><i class="fas fa-plus-circle"></i> Agregar un Empleado</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Crear">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row mb-3">
                    <label for="Nombre" class="col-sm-2 col-form-label"><i class="fa fa-user"></i> Nombre Empleado</label>
                    <div class="col-sm-10">
                        <input asp-for="Nombre" class="form-control rounded" placeholder="Nombre Empleado" required />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Cargo" class="col-sm-2 col-form-label"><i class="fa fa-briefcase"></i> Cargo del Empleado</label>
                    <div class="col-sm-10">
                        <input asp-for="Cargo" class="form-control rounded" placeholder="Cargo del Empleado" required />
                        <span asp-validation-for="Cargo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="FechaDeContratacion" class="col-sm-2 col-form-label"><i class="fa fa-calendar"></i> Fecha de Contratacion</label>
                    <div class="col-sm-10">
                        <input asp-for="FechaDeContratacion" class="form-control rounded" placeholder="Fecha de Contratacion" required />
                        <span asp-validation-for="FechaDeContratacion" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="Direccion" class="col-sm-2 col-form-label"><i class="fa fa-map-marker"></i> Direccion</label>
                    <div class="col-sm-10">
                        <input asp-for="Direccion" class="form-control rounded" placeholder="Direccion" required />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer rounded-bottom" style="background-color: #0000;">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-outline-success btn-3d" style="margin-right: 80px;"><i class="fas fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-lg btn-outline-danger btn-3d" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
